subarch: mips32r2
target: stage3
version_stamp: uclibc-vanilla
rel_type: vanilla/mips
profile: hardened/linux/uclibc/mips
snapshot: current
source_subpath: vanilla/mips/stage2-mips32r2-uclibc-vanilla
portage_confdir: /root/MyCatalyst/portage.mips.vanilla
