subarch: SARCH
target: CSTAGE
version_stamp: uclibc-FLAVOR
rel_type: uclibc/FLAVOR/SARCH
profile: PROFILE/linux/uclibc/PARCH
snapshot: current
source_subpath: uclibc/FLAVOR/SARCH/PSTAGE-SARCH-uclibc-FLAVOR
chost: TARCH-gentoo-linux-uclibc
portage_confdir: MYCATALYST/portage.SARCH.FLAVOR
