subarch: armv7a
target: stage1
version_stamp: uclibc-hardened
rel_type: hardened/armv7a
profile: hardened/linux/uclibc/arm/armv7a
snapshot: current
source_subpath: hardened/armv7a/stage3-armv7a-uclibc-hardened
chost: armv7a-softfp-linux-uclibceabi
portage_confdir: MyCatalyst/portage.arm.hardened
