subarch: amd64
target: stage2
version_stamp: uclibc-vanilla
rel_type: vanilla/amd64
profile: hardened/linux/uclibc/amd64
snapshot: current
source_subpath: vanilla/amd64/stage1-amd64-uclibc-vanilla
chost: x86_64-gentoo-linux-uclibc
portage_confdir: /root/MyCatalyst/portage.amd64.vanilla
