subarch: mips32r2
target: stage1
version_stamp: uclibc-hardened
rel_type: hardened/mips
profile: hardened/linux/uclibc/mips
snapshot: current
source_subpath: hardened/mips/stage3-mips32r2-uclibc-hardened
chost: mips-gentoo-linux-uclibc
portage_confdir: /root/MyCatalyst/portage.mips.hardened
