subarch: mipsel3
target: stage2
version_stamp: uclibc-vanilla
rel_type: vanilla/mipsel3
profile: hardened/linux/uclibc/mips/mipsel
snapshot: current
source_subpath: vanilla/mipsel3/stage1-mipsel3-uclibc-vanilla
chost: mips-gentoo-linux-uclibc
portage_confdir: MyCatalyst/portage.mipsel.vanilla
