# Kernel config for ALPHA Livecds

# Ian Jordan <immoloism@gmail.com> (2026-06-18)
# Remove localversion being set on the LiveCDs so localmodconfig doesn't double load.
CONFIG_LOCALVERSION=""

# Ian Jordan <immoloism@gmail.com> (2026-06-18)
# Debian kconfigs need a few tweaks when being used for a livecd.
# These don't affect normal users so we'll add them locally in RelEng.
CONFIG_SCSI=y
CONFIG_SCSI_MOD=y
CONFIG_SCSI_COMMON=y
CONFIG_BLK_DEV_SR=y
CONFIG_SCSI_VIRTIO=y
CONFIG_CDROM=y
CONFIG_ISO9660_FS=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_SQUASHFS=y
CONFIG_OVERLAY_FS=y
CONFIG_BLK_DEV_DM=y
CONFIG_DEVTMPFS_MOUNT=y 
CONFIG_SCSI_SYM53C8XX_2=y
CONFIG_SCSI_SPI_ATTRS=y
CONFIG_ATA=y
CONFIG_BLK_DEV_SD=y
CONFIG_NET_TULIP=y

# These help with debugging in QEMU at an earlier stage
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_CORE=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_BLK=y
CONFIG_FAILOVER=y
CONFIG_NET_FAILOVER=y
