[Desktop Entry]
Name=Epiphany
GenericName=Web Browser
X-GNOME-FullName=Epiphany Web Browser
Comment=Browse the web
Exec=epiphany %U
StartupNotify=true
Terminal=false
Type=Application
Icon=gnome-web-browser
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=epiphany
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.30.6
Categories=Network;GNOME;GTK;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
X-XFCE-Source=file:///usr/share/applications/epiphany.desktop
