[Desktop Entry]
Version=1.0
Type=Application
Name=Midori
GenericName=Web Browser
X-GNOME-Fullname=Midori Web Browser
Comment=Browse the Web
X-GNOME-Keywords=Internet;WWW;Explorer
X-AppInstall-Keywords=Internet;WWW;Explorer
Categories=GTK;Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/geo;image/svg+xml;
Exec=midori %U
Icon=midori
Terminal=false
StartupNotify=true
X-Osso-Type=application/x-executable
X-Osso-Service=midori
Actions=TabNew;WindowNew;Private;
X-XFCE-Source=file:///usr/share/applications/midori.desktop

[Desktop Action TabNew]
Name=New Tab
Exec=midori -e TabNew

[Desktop Action WindowNew]
Name=New Window
Exec=midori -e WindowNew

[Desktop Action Private]
Name=New Private Browsing Window
Exec=midori --private
