[Desktop Entry]
Version=1.0
Name=Ristretto Image Viewer
Comment=Look at your images easily
GenericName=Image Viewer
Exec=ristretto %F
Icon=ristretto
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Graphics;Viewer;
StartupNotify=true
MimeType=image/png;image/gif;image/jpeg;image/bmp;image/x-pixmap;image/tiff;image/svg+xml;image/x-xpixmap;
X-XFCE-Source=file:///usr/share/applications/ristretto.desktop
