# Kernel config for PPC64LE Livecds

# Ian Jordan <immoloism@gmail.com> (2025-02-27)
# Change CPU baseline support to POWER7 to increase the number of systems Gentoo
# supports at install time.
CONFIG_POWER7_CPU=Y

# Ian Jordan <immoloism@gmail.com> (2024-10-28)
# Remove localversion being set on the LiveCDs so localmodconfig doesn't double load.
CONFIG_LOCALVERSION=""
