[Desktop Entry]
Version=1.0
Name=Claws Mail
GenericName=E-mail client
Exec=claws-mail %u
Icon=claws-mail
Categories=Network;Office;Email;
Comment=Lightweight and Fast GTK+ based Mail Client
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/mailto;
X-Info=Claws Mail
X-XFCE-Source=file:///usr/share/applications/claws-mail.desktop
