[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Link
URL=http://www.gentoo.org/proj/en/releng/installer/faq.xml
TryExec=
X-GNOME-DocPath=
Terminal=false
Name=Gentoo Linux Installer FAQ
GenericName=Gentoo Linux Installer FAQ
Comment=This is a link to the Gentoo Linux Installer Frequently Asked Questions.  Please click here before filing any bugs or asking questions on IRC or the mailing list.
Icon=gedit-icon.png
