[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=installer-dialog
TryExec=
X-GNOME-DocPath=
Terminal=true
Name=Gentoo Linux Installer (Command Line)
GenericName=Gentoo Linux Installer (Command Line)
Comment=This link starts the command line version of the Gentoo Linux Installer in a terminal.
Icon=gli-dialog.png
