[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=installer-gtk
TryExec=
X-GNOME-DocPath=
Name=Gentoo Linux Installer (GTK+)
GenericName=Gentoo Linux Installer (GTK+)
Comment=This link starts the GTK+ version of the Gentoo Linux Installer.
Icon=gli.png
