# Kernel config for AMD64 Livecds

# Ian Jordan <immoloism@gmail.com> (2024-10-28)
# Remove localversion being set on the LiveCDs so localmodconfig doesn't double load.
CONFIG_LOCALVERSION=""

# Ian Jordan <immoloism@gmail.com> (2024-05-26)
# Disable DRM support from being built on livecds to save space and load errors.
CONFIG_DRM=n
CONFIG_DRM_RADEON=n
CONFIG_DRM_AMDGPU=n
CONFIG_DRM_NOUVEAU=n
CONFIG_DRM_I915=n
CONFIG_DRM_XE=n
CONFIG_DRM_VGEM=n
CONFIG_DRM_VKMS=n
CONFIG_DRM_VMWGFX=n
CONFIG_DRM_GMA500=n
CONFIG_DRM_MGAG200=n
CONFIG_DRM_AST=n
CONFIG_DRM_QXL=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_DRM_BOCHS=n
CONFIG_DRM_CIRRUS_QEMU=n
CONFIG_DRM_GM12U320=n
CONFIG_DRM_PANEL_MIPI_DBI=n
